/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent; /* Gray thumb, no background */
}

html, body, #root {
  background-color: black;
  
  height: 100dvh;
  width: 100%;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

/* WebKit scrollbar styling */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Removed scrollbar background */
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Default scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease-in-out;
}

/* When scrolling, color remains gray */
*::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.layout {
  display: flex;
  flex-direction: column;

  min-height: 100dvh;
}

.content {
  flex: 1;

  padding: 0;
  margin: 0;
}