@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.entry-point-container {
  position: relative;
  
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}

/* ----------ENTRY POINT CONTENT---------- */
.entry-point-container-content {
  position: absolute;
  
  top: 50%;
  right: 10%;
  transform: translateY(-50%);

  color: #fff;
  text-align: right;
  
  max-width: 500px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

  opacity: 0;
  animation: opacityInc 1s 2s forwards ease-out;
}

.entry-point-container-content h1 {
  margin: 0;
  padding: 0;
  
  font-family: "Nunito";

  font-size: 3rem;
}

@keyframes opacityInc {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* ----------WAVE BACKGROUND---------- */
.entry-point-container-background {
  position: absolute;
  
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  z-index: -1;
}

/* ----------WAVE ANIMATION---------- */
.wave {
  transform: translateX(-30px);
  
  opacity: 0;
  animation: waveSlide 0.8s forwards ease-out;
}

.wave.wave1 { animation-delay: 0.2s; }
.wave.wave2 { animation-delay: 0.4s; }
.wave.wave3 { animation-delay: 0.6s; }
.wave.wave4 { animation-delay: 0.8s; }
.wave.wave5 { animation-delay: 1s; }
.wave.wave6 { animation-delay: 1.2s; }

@keyframes waveSlide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
